
:root {
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  max-width: 320px;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  border: solid 1px #9aa;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

.menu {
  padding: 25px;
  word-spacing: 10px;
  font-family: 'Libre Franklin', sans-serif;
  border-bottom: solid 1px #9aa;
}

.daily-recipie {
  display: inline;
  margin: 15px;
  padding: 0 15px;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 11px;
  font-weight: 700;
  color: #fff;
  background-color: #f00;
  border-radius: 10px;
}

h3 {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 100;
}

p {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 16px;
  line-height: 1.2;
  margin: 15px;
}

.jerelle {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 35px;
}

.cook-list {
  background-color: #dee;
  padding: 15px;
}

.list-title {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-align: start;
  border-bottom: solid 2px black;
  margin-top: 15px;
}

.recipe {
  margin-top: 15px;
  background-color: #fff;
  border: solid 1px #9aa;
}

.recipe p {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 20px;
  line-height: 1.2;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: start;
  padding: 30px 10px;
}

footer h3 {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 20px;
  line-height: 1.2;
}

footer div {
  display: flex;
  flex-direction: column;
  font-family: 'Libre Franklin', sans-serif;
  font-size:  16px;
}